@model DIYFEWeb.Models.ArticleListModel
@using PagedList
@using PagedList.Mvc


 @Html.Partial("Error/_ErrorPageHandler")

<script type="text/javascript">
    $(document).ready(function () {

        $('#SearchBox .searchGlass').click(function () {
            var searchText = $('#searchVal').val();
            if (searchText != "") {
                window.location = '/home/search?searchVal=' + searchText;
            }
        });

        $('#searchVal').bind('keypress', function (e) {
            var searchText = $('#searchVal').val();
            if (e.keyCode == 13 && searchText != "") {
                // Enter pressed... do anything here...
                window.location = '/home/search?searchVal=' + searchText;

            }
        });
    });
</script>

<style>
    #SearchBox {
        margin-left:30px;
        height:65px;
    }
    #SearchBox li {
        float:left;
        background-color:#B2E34B;
        height:38px;
    }
    #searchVal {
    margin-top:5px;margin-left:5px;width:350px;
    padding:3px;
    }
</style>

<div class="content" style="margin-top:40px;">
    <div class="row">
        <div id="SearchBox">
            <ul>
                <li><input id="searchVal" type="text" value="@ViewBag.PageModel.Description" /></li>
                <li><div class="searchGlass"></div></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-8">
            
            @if(Model.Into != null){
            <article>
                <h1>@Model.Into.Title</h1>
                    @Html.Raw(Model.Into.MainContent)
            </article>
            }
            @for (int i = 0; i < @Model.PagedArticle.PageSize; i++)
            {
                if (i < Model.PagedArticle.Count()){
                 @Html.Partial("_DataListItem", Model.PagedArticle[i])
                 }
            }
            
            <div class="paging">
                @Html.PagedListPager(Model.PagedArticle, page => Model.PageLinkBase + "?searchVal=" + ViewBag.PageModel.Description + "&page=" + page.ToString())
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-4">

            <div class="productPromo">
                <img src="~/Content/Img/promo.png" />
            </div>
            <div id="productPromo">
                <img src="~/Content/Img/promo.png" />
            </div>
        </div>
        </div>

</div>