@model DIYFEWeb.Models.ArticleListModel
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "CategoryList";
}

 @Html.Partial("_ErrorPageHandler")

    <div class="container-fluid">
        @Html.Partial("_BreadCrumb", Model.CrumbLinkList)
    <div class="row-fluid">
    
        <div class="span8">
            @for (int i = 0; i < @Model.PagedArticle.PageSize; i++)
            {
                if (i < Model.PagedArticle.Count()){

                    if (@Model.PagedArticle[i].ArticleTypeId == 1)
                    {
                         @Html.Partial("_DataListItem", Model.PagedArticle[i])
                    }
                    else
                    {
                        @Html.Partial("_DataListItemProject", Model.PagedArticle[i])
                    }
                        
                }else{
                    break;
                }
            }
            @Html.PagedListPager(Model.PagedArticle, page => Url.Action("Index", new { page }))

        </div>
        <div class="span4">
    <!--Sidebar content-->
            <div class="row-fluid">
                <div class="span12 box-content">Related Info
                   @Html.Partial("_RelatedTreeView", Model.RelatedTreeView)
                </div>
            </div>
            <br />
       @*      @Html.Partial("_MostViewed", Model.MostViewed)*@
        </div>
    </div>



    </div>


