<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.PageModel.Title</title>
    <meta name="description" content="@ViewBag.PageModel.Description">
    <meta name="author" content="@ViewBag.PageModel.Author">
    <meta name="keywords" content="@ViewBag.PageModel.Keywords" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")">
    
  <link href="@Url.Content("~/Content/Frameworks/Bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.treeview.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/page-list.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mobile-responsive.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/Content/comments.css")" rel="stylesheet" type="text/css" />
     @*
  <link href="@Url.Content("~/Content/min/DIYFE_min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/min/DIYFE_min.js")" type="text/javascript"></script>*@
       

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Frameworks/JQueryUI/jquery.treeview.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Frameworks/Bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AppSupport/usefull.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/pager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/mediator.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AppSupport/mobile-responsive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>    

     @RenderSection("JS", required:false)
     @RenderSection("CSS", required:false)

@*    @Styles.Render("~/Content/min")
    @Scripts.Render("~/Content/min") 
    @Styles.Render("~/bundles/css/min")
    @Scripts.Render("~/bundles/script/min")
    *@
@*    <script type="text/javascript" scr='@Scripts.Url("~/bundles/")' async></script>*@

    <script type="text/javascript">
        var topNavSelectedId = '#@ViewBag.PageModel.ActiveTopNavLink';
    </script>

</head>
<body>

@*    <div style="height:300px">
         @DIYFEWeb.AppStatic.TopNavHtml
    </div>*@
            <div id="masterErrorDiv">
            <div class="alert alert-error">
                 <p id="masterErrorText"></p>
            </div>
        </div>
            
      
    <div id="container">
        <header>
            <div id="headerBar"></div>
            <div class="content">
                <div id="logoFlag">
                    <div style="margin-bottom:-1px; height:335px; background-color:black; border-right:solid 5px #B2E34B; border-left:solid 5px #B2E34B;"><!--<p><small>DIYFE: Do It Yourself For Everyone. You do it, build, learn about it, and create it, all because you want too. Sshare your experiences, knowledge and resources with the rest of the world. Thus you do it for yourself for everyone else to build from.</small></p>-->
                        <div style="height:240px;" id="logoFlagText">
                            @*<p>We do, because we want to.  We share, because we want to.  It grows to the next level because you want it too.</p>*@
                            <ul>
                                <li>Do</li>
                                <li>It</li>
                                <li>Yourself</li>
                                <li>For</li>
                                <li>Everyone</li>
                            </ul>
                            <p><a href="http://diyfe.org">Return To DIYFE Home</a></p>
                            <br />
                        </div>
                        <div id="diyfeLogo">diyfe</div>
                    </div>
                    <div id="logoFlagBackground"></div>
                </div>
                <div id="topContent" style="padding-top:3px;">
                    <div class="row">
                        <div id="social-media">
				            <div class="content">
					            <ul>
						            <li class="facebook"><a style=" border-left:0px solid #000000;" onclick="" target="_blank" href=""><span class="hide">Facebook</span></a></li>
						            <li class="twitter"><a onclick="" target="_blank" href=""><span class="hide">Twitter</span></a></li>
						            <li class="google-plus"><a onclick="" target="_blank" href=""><span class="hide">Google Plus</span></a></li>
						            <li class="youtube"><a onclick="" target="_blank" href=""><span class="hide">YouTube</span></a></li>
						            <li class="foursquare"><a onclick="" target="_blank" href=""><span class="hide">Community</span></a></li>
					            </ul>
				            </div>
			            </div>
                    </div>
                    
                </div>

            </div>

                @DIYFEWeb.StaticConfig.TopNavHtml
                <div id="responsive">
                                <a href="#" class="toggleMenu">MENU</a>
                                <div id="responsive-menu-holder">
                                    <div id='responsive-menu'>
                                        <div class='mainMenu'>
                                            <div class="menu"></div>
                                            <div class="utility"></div>
                                        </div>
                                        <div class='subMenu'></div>
                                    </div>
                                </div>
                            </div>
 
        </header>
        <main>
              @RenderBody()
        </main>
        <br /><br />

        <footer>
            <div class="content">
                <div class="row">
                    <div class="col-md-3"><h5>category</h5>
                        <ul>
                            <li><a href="/post/water">Water</a> </li>
                            <li><a href="/post/shelter">Shelter</a> </li>
                            <li><a href="/post/food">Food</a> </li>
                            <li><a href="/post/communication-education">Communication & Education</a> </li>
                            <li><a href="/post/manufacturing">Manufacturing Goods</a> </li>
                        </ul>
                    </div>
                    <div class="col-md-3"><h5>Help Fund Projects</h5>
                        <ul>
                             <li><a href="/fund/projects">Projects</a></li>
                            <li><a href="/fund/products">Products</a></li>
                            <li><a href="/fund/research">Research</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3"><h5>Contact</h5>
                        <ul>
                            <li><a href="/home/contact">Contact Info</a></li>
                            <li><a href="/home/product_promotion">Promot Your Project or Product</a></li>
                            <li><a href="/home/ad_space">Contact For Ad Space</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3"><h5>Connect With Us</h5>
                        <ul>
                             <li><a href="/home/connect">Youtube Channel</a></li>
                            <li><a href="/home/connect">Kickstarter projects</a></li>
                            <li><a href="/home/connect">RSS Feed</a></li>
                            <li><a href="/home/connect">Social media share links</a></li>
                        </ul>
                    </div>
                     
                </div>
                
            </div>
        </footer>
        <div style="background-color:#669933;" id="copyRight">
            <div id="designedByWrap">
                <div id="designedByLink">
                    <a href="http://www.3rdcornerstudios.com/" target="_blank"><span>3</span>rd<span>c</span>orner<span>s</span>tudios</a>
                </div>
                <div id="designedBy">
                    designed by
                </div>
                
            </div>
            <div class="content" style="margin:0 auto;width:980px;position:relative;text-transform:uppercase; ">
                <div class="row">
                    <div class="col-lg-9">
                        <ul style="height:25px;list-style-type:none;">
                            <li style="float:left;padding-right:10px;margin-right:10px;"><a href="">privacy policy</a></li>
                            <li style="float:left;border-right:none;"><a href="#">copy write</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
     @*  @Html.Partial("_LogOnForm")  *@

    </body>
</html>

