@model DIYFEWeb.Models.AdminModel
@{
    ViewBag.Title = "Index";
}

<h1>New Article</h1>
<table>
    <tr>
        <td>name</td>
        <td><input type="text" id="txtName" /></td>
    </tr>
    <tr>
        <td>title</td>
        <td><input type="text" id="txtTitle" /></td>
    </tr>
    <tr>
        <td>description</td>
        <td><input type="text" id="txtDescription" /></td>
    </tr>
    <tr>
        <td>author</td>
        <td><input type="text" id="txtAuthor" /></td>
    </tr>
    <tr>
        <td>Keywords</td>
        <td><input type="text" id="txtKeywords" /></td>
    </tr>
    <tr>
        <td>Main Content</td>
        <td><input type="text" id="txtMainContent" /></td>
    </tr>
    <tr>
        <td>side content</td>
        <td><input type="text" id="txtSideContent" /></td>
    </tr>
    <tr>
        <td>ListItemContent</td>
        <td><input type="text" id="txtListItemContent" /></td>
    </tr>
    <tr>
        <td>ViewRequest</td>
        <td><input type="text" id="txtViewRequest" /></td>
    </tr>
    <tr>
        <td>URLLink</td>
        <td><input type="text" id="txtUrlLink" /></td>
    </tr>
    <tr>
        <td>NameId</td>
        <td><input type="text" id="txtNameId" /></td>
    </tr>
    <tr>
        <td><input type="button" value="add art" id="btnAddNewArtical" /></td>
        <td></td>
    </tr>

</table>

<h1>Category</h1>
<table class="table">
    <tr style="height:30px;">
        <td>Category <select style="height:40px;" id="FirstLevCat">
            <option value="0">Please Select</option>
            @foreach (DIYFELib.Category cat in Model.Categories.Where(c => c.SecondLevCategoryId == 0 && c.ThirdLevCategoryId == 0))
            {
                <option class="dropDownOption" catName="@cat.CategoryName" catUrl ="@cat.CategoryUrl" value="@cat.CategoryId">@cat.CategoryName</option>
            }
                     </select>

        name: <input type="text" id="NewFirstLevCatName" /> 
        url: <input type="text" id="NewFirstLevCatUrl" /> 
        </td>
        </tr>
        <tr>
        <td>Second Lev Category
            <select style="height:40px;" id="SecondLevCat">
                <option value="0">Please Select</option>
            @foreach (DIYFELib.Category cat in Model.Categories.Where(c => c.SecondLevCategoryId > 0 && c.ThirdLevCategoryId == 0))
            {
                <option class="dropDownOption" catName="@cat.SecondLevCategoryName" catUrl ="@cat.SecondLevCategoryUrl"  FirstLevCatId="@cat.CategoryId" value="@cat.SecondLevCategoryId">@cat.SecondLevCategoryName</option>
            }
                     </select>
        name: <input type="text" id="NewSecondLevCatName" /> 
        url: <input type="text" id="NewSecondLevCatUrl" /> 
        </td>
        </tr>
    <tr>
        <td>Third Lev Category
            <select style="height:40px;" id="ThirdLevCat">
                <option value="0">Please Select</option>
            @foreach (DIYFELib.Category cat in Model.Categories.Where(c => c.ThirdLevCategoryId > 0))
            {
                <option class="dropDownOption" SecondLevCatId="@cat.SecondLevCategoryId" value="@cat.ThirdLevCategoryId">@cat.ThirdLevCategoryName</option>
            }
                     </select>
            name:<input type="text" id="NewThirdLevCatName" /> 
            url:<input type="text" id="NewThirdLevCatUrl" /> 
        </td>
    </tr>
    <tr>
        <td><input type="button" value="add cat" id="btnAddNewCategory" /> </td>
    </tr>
</table>