@model DIYFEWeb.Models.ArticleModel
@using PagedList
@using PagedList.Mvc


 @Html.Partial("Error/_ErrorPageHandler")

<div class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-8">
              @Html.Partial("_BreadCrumb", Model.CrumbLinkList)
                <article>
                    <h1>@Model.Article.Name</h1>
                    <span class="small">@Model.Article.CreatedDate.ToShortDateString()</span>
                    @Html.Raw(Model.Article.MainContent)
                    <section id="comments">
                         @if (Model.Article.ArticleComments != null){
                             @Html.Partial("_ArticleComments", Model.Article.ArticleComments.ToList())
                            }else{
                             @Html.Partial("_ArticleComments", new List<DIYFE.EF.ArticleComment>())
                    }
                    </section>
                </article>  

                 
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-4">
            <div id="treeMenu">
                @Html.Partial("_RelatedTreeView", Model.RelatedTreeView)
            </div>
            <div class="productPromo">
                product or project promotion area
            </div>
            <div id="topLevelLinkList">
                top level link list that isn't covered in the tree menu
            </div>
        </div>
        </div>

</div>