 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.PageModel.Title</title>
    <meta name="description" content="@ViewBag.PageModel.Description">
    <meta name="author" content="@ViewBag.PageModel.Author">
    <meta name="keywords" content="@ViewBag.PageModel.Keywords" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")">
    
@*    <link href="@Url.Content("~/Content/min/DIYFE_min.css")" rel="stylesheet" type="text/css" />*@
   @* <script src="@Url.Content("~/Content/min/DIYFE_min.js")" type="text/javascript"></script>*@
       

@*    <script src="@Url.Content("~/Content/scripts/jquery-1.10.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/jquery.treeview.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/Bootstrap/Twitter/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/Bootstrap/usefull.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/Bootstrap/pager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/Bootstrap/model.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/Bootstrap/mediator.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/App/admin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/App/contact.js")" type="text/javascript"></script>*@

@*    @Styles.Render("~/Content/min")
    @Scripts.Render("~/Content/min")*@
        @Styles.Render("~/bundles/css/min")
    @Scripts.Render("~/bundles/script/min")

@*    <script type="text/javascript" scr='@Scripts.Url("~/bundles/")' async></script>*@

    <script type="text/javascript">
        var topNavSelectedId = '#@ViewBag.PageModel.ActiveTopNavLink';
    </script>
</head>
<body>
    <div class="container">
   <div class="navbar">
            <ul class="nav pull-right" style="margin-left:20px; margin-right:20px;">
              <li id="MainNavHome">@Html.ActionLink("Home", "Index", "Home")</li>
              <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
              <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
              <li>@Html.ActionLink("Who", "Who", "Home")</li>
              <li>@Html.ActionLink("About", "About", "Home")</li>
              <li>@Html.ActionLink("Goals", "Goals", "Home")</li>
              <li id="MainNavSearch">@Html.ActionLink("Search", "Search", "Home")</li>
              <li id="MainNavDonations">@Html.ActionLink("Donations", "Donations", "Home")</li>
            </ul>
        @Html.Partial("_LogOnPartialLink")
   </div>
        
 </div>
    
  @RenderSection("SecondHeader", required:false)
    <div class="container">
@*        <div class="hero">
            <div style="height:60px; width:60px; border:solid 1px grey; margin-bottom:10px;margin-left:35px;" />
        </div>*@
        <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
@*              <ul role="navigation" class="nav">
                  <li class="dropdown" id="MainNavProjects">
                      <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="@Url.Content("~/project")">Projects <b class="caret"></b></a>
                      <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                          <li><a href="@Url.Content("~/project")" tabindex="-1">View All</a></li>
                          <li class="divider"></li>
                            <li><a href="#" tabindex="-1">Wind & Water Tower</a></li>
                            <li><a href="#" tabindex="-1">Darknet - Free & Open Internet</a></li>
                            <li><a href="#" tabindex="-1">Mineral Accretion</a></li>
                            <li><a href="#" tabindex="-1">Arduino ADK Appliances</a></li>
                            <li><a href="#" tabindex="-1">Aeration of Water for Aquaponictes and Natural Pools</a></li>
                          <li class="divider"></li>
                          <li><a href="#" tabindex="-1">Steam powered sun driven</a></li>
                          <li><a href="#" tabindex="-1">Diy hho gas</a></li>
                          <li><a href="#" tabindex="-1">Converting rock and soil to sillica</a></li>
                          <li><a href="#" tabindex="-1">Cermaic housing </a></li>
                          <li><a href="#" tabindex="-1">Food production </a></li>
                          <li><a href="#" tabindex="-1">Aquaponictes</a></li>
                          <li><a href="#" tabindex="-1">Synsepalum dulcificum</a></li>
                          <li><a href="#" tabindex="-1">Vitamin testing</a></li>
                          <li><a href="#" tabindex="-1">Home manufacturing </a></li>
                          <li><a href="#" tabindex="-1">Home water purification</a></li>
                          <li><a href="#" tabindex="-1">Home dairy and algie</a></li>
                          <li><a href="#" tabindex="-1">Chesses culture</a></li>
                          <li><a href="#" tabindex="-1">Seed repository</a></li>
                          <li><a href="#" tabindex="-1">Spirulina algae</a></li>
                          <li><a href="#" tabindex="-1">Private Communincation, free network</a></li>
                          <li><a href="#" tabindex="-1">Real Chemistry Set</a></li>
                      </ul>
                  </li>
              </ul>*@
              @DIYFEWeb.AppStatic.TopNavHtml
          </div>
        </div>
      </div>
    </div>
        
           
        <div id="masterErrorDiv">
            <div class="alert alert-error">
                 <p id="masterErrorText"></p>
            </div>
        </div>
            
        @RenderBody()
      <hr>
     

      <div class="container">	
    <div class="row-fluid">
    <div class="span12">
    <div class="span2" style="width: 15%;">
    <ul class="unstyled">
    <li>GitHub<li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact & support</a></li>
    <li><a href="#">Enterprise</a></li>
    <li><a href="#">Site status</a></li>
    </ul>
    </div>
    <div class="span2" style="width: 15%;">
    <ul class="unstyled">
    <li>Main Sections<li>
    <li>@Html.Link("project", "Projects", "Link to a list of our DIY FE projects")</li>
    <li>@Html.Link("post", "Posts", "Link to a list of our DIY FE posts")</li>
    <li>@Html.Link("blog", "Blog", "Link to a list of all of our blog posts")</li>
    <li>@Html.Link("news", "News", "Link to a news about our orginization")</li>	
    </ul>
    </div>
    <div class="span2" style="width: 15%;">
    <ul class="unstyled">
    <li>Services<li>
    <li><a href="#">How does this whole thing work?</a></li>
    <li><a href="#">Project responsiable and person gains</a></li>
    <li><a href="#">Project Replications</a></li>
    <li><a href="#">New Projects</a></li>	
    <li><a href="#">Project Planing</a></li>	
    </ul>
    </div>
    <div class="span2" style="width: 15%;">
    <ul class="unstyled">
    <li>Communications<li>
    <li><a href="#">Contact us directly</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="#">Relay information to communicate</a></li>
    <li><a href="#">Request link share</a></li>
    <li><a href="#">Report Misinformation</a></li>	
    </ul>
    </div>	
    <div class="span2" style="width: 15%;">
    <ul class="unstyled">
    <li>Our Youtube Channel<li>
    <li><a href="#">Our Channel</a></li>
    <li><a href="#">Submiting a new project</a></li>
    <li><a href="#">Permaculter Life cycle</a></li>
    <li><a href="#">Continuing project updates</a></li>
    </ul>
    </div>	
    </div>
    </div>
    <hr>
    <div class="row-fluid">
    <div class="span12">
    <div class="span8">
    <a href="#">Terms of Service</a>
    <a href="#">Privacy</a>
    <a href="#">Security</a>
    </div>
    <div class="span4">
    <p class="muted pull-right">© 2013 Company Name. All rights reserved</p>
    </div>
    </div>
    </div>
    </div>

    </div>
    
    
   @Html.Partial("_LogOnForm")  

@* <script type="text/javascript">


</script>*@

</body>
</html>
