<html>
<head>
    <title>Contact From</title>
</head>
<body>
    <p>
        Name @Model.FullName</p>
    <p>Email @Model.Email</p>
    <p>WebSite @Model.WebSite</p>
    <p>Phone @Model.Phone</p>
    <p>Subject @Model.Subject</p>
       <p>Message: @Model.Message
    </p>
</body>
</html>

